h1 {
  color: var(--primary);
  text-align: center;
}

.container {
  width: 80%;
  height: 100%;
  display: block;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.5rem;
  background-color: var(--primary-container);
  border: var(--border-none);
  color: var(--primary);
  border-radius: var(--shape-medium);
  cursor: pointer;
}

.change-theme {
  width: 8rem;
  margin: 2rem;
  align-self: center;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  canvas {
    border: 1px solid var(--primary);
    max-width: 100%;
    background-color: var(--surface-container);
  }
}

.current-depth {
  color: var(--on-surface);
  align-self: center;
}

.controls-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  margin-top: 2rem;
}

.button-active {
  background-color: var(--primary);
  color: var(--on-primary);
}

.depth-variants {
  display: flex;
  justify-content: space-around;
  button {
    margin-right: .25rem;
  }
}